#### Question 1. Pandas version

In [23]:
import numpy as np
import pandas as pd
print(pd.__version__)

2.2.2

#### Question 2. Records count

In [2]:
FILENAME = 'laptops.csv'
df = pd.read_csv(FILENAME)
print(len(df))

2160

#### Question 3. Laptop brands

In [3]:
df.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

In [4]:
df['Brand'].unique()

array(['Asus', 'Alurin', 'MSI', 'HP', 'Lenovo', 'Medion', 'Acer', 'Apple',
       'Razer', 'Gigabyte', 'Dell', 'LG', 'Samsung', 'PcCom', 'Microsoft',
       'Primux', 'Prixton', 'Dynabook Toshiba', 'Thomson', 'Denver',
       'Deep Gaming', 'Vant', 'Innjoo', 'Jetwing', 'Millenium', 'Realme',
       'Toshiba'], dtype=object)

In [5]:
print(len(df['Brand'].unique()))

27

#### Question 4. Missing values

In [ ]:
print(f'Number of elements in dataset: {len(df)}')
df.info()

In [ ]:
print('Columns with missing values:')
df.isnull().any()

#### Question 5. Maximum final price (1 point)

In [ ]:
df['Final Price'].sort_values(ascending=False)

#### Question 6. Median value of screen
Find the median value of Screen column in the dataset.
Next, calculate the most frequent value of the same Screen column.
Use fillna method to fill the missing values in Screen column with the most frequent value from the previous step.
Now, calculate the median value of Screen once again.
Has it changed?

In [ ]:
screen_median = df['Screen'].median()
screen_mode = df['Screen'].mode()[0]
print(f'Screen median: {screen_median}')
print(f'Screen mode: {screen_mode}')

In [ ]:
df['Screen'].fillna(screen_mode, inplace=True)
screen_new_median = df['Screen'].median()
print(f'Screen median: {screen_new_median}')
print(f'Changed: {screen_median != screen_new_median}')

#### Q7. Sum of weights
Select all the "Innjoo" laptops from the dataset.

Select only columns RAM, Storage, Screen.

Get the underlying NumPy array. Let's call it X.

Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.

Compute the inverse of XTX.

Create an array y with values [1100, 1300, 800, 900, 1000, 1100].

Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.

What's the sum of all the elements of the result?

In [ ]:
innjoo_laptops = df[df['Brand'] == 'Innjoo']
innjoo_laptops.head(10)

In [ ]:
# columns RAM, Storage, Screen
innjoo_ram_storage_screen = innjoo_laptops[['RAM', 'Storage', 'Screen']]

# numpy array
X = innjoo_ram_storage_screen.to_numpy()

XTX = np.matmul(X.T, X)

inverse_XTX = np.linalg.inv(XTX)

y = np.array([1100, 1300, 800, 900, 1000, 1100])

w = np.matmul(np.matmul(inverse_XTX, X.T), y)

print(w.sum())