#### Question 1. Pandas version

In [26]:
import numpy as np
import pandas as pd
print(pd.__version__)

2.2.2

#### Question 2. Records count

In [27]:
FILENAME = 'laptops.csv'
df = pd.read_csv(FILENAME)
print(len(df))

2160

#### Question 3. Laptop brands

In [28]:
df.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

In [29]:
df['Brand'].unique()

array(['Asus', 'Alurin', 'MSI', 'HP', 'Lenovo', 'Medion', 'Acer', 'Apple',
       'Razer', 'Gigabyte', 'Dell', 'LG', 'Samsung', 'PcCom', 'Microsoft',
       'Primux', 'Prixton', 'Dynabook Toshiba', 'Thomson', 'Denver',
       'Deep Gaming', 'Vant', 'Innjoo', 'Jetwing', 'Millenium', 'Realme',
       'Toshiba'], dtype=object)

In [30]:
print(len(df['Brand'].unique()))

27

#### Question 4. Missing values

In [31]:
print(f'Number of elements in dataset: {len(df)}')
df.info()

Number of elements in dataset: 2160
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2160 entries, 0 to 2159
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Laptop        2160 non-null   object
 1   Status        2160 non-null   object
 2   Brand         2160 non-null   object
 3   Model         2160 non-null   object
 4   CPU           2160 non-null   object
 5   RAM           2160 non-null   int64
 6   Storage       2160 non-null   int64
 7   Storage type  2118 non-null   object
 8   GPU           789 non-null    object
 9   Screen        2156 non-null   float64
 10  Touch         2160 non-null   object
 11  Final Price   2160 non-null   float64
dtypes: float64(2), int64(2), object(8)
memory usage: 202.6+ KB

In [32]:
print('Columns with missing values:')
df.isnull().any()

Columns with missing values:

Laptop          False
Status          False
Brand           False
Model           False
CPU             False
RAM             False
Storage         False
Storage type     True
GPU              True
Screen           True
Touch           False
Final Price     False
dtype: bool

#### Question 5. Maximum final price (1 point)

In [33]:
df['Final Price'].sort_values(ascending=False)

1099    7150.47
478     5999.00
1202    5758.14
1245    5630.90
1475    5368.77
         ...
728      230.14
554      229.00
638      210.14
505      208.99
668      201.05
Name: Final Price, Length: 2160, dtype: float64

#### Question 6. Median value of screen
Find the median value of Screen column in the dataset.
Next, calculate the most frequent value of the same Screen column.
Use fillna method to fill the missing values in Screen column with the most frequent value from the previous step.
Now, calculate the median value of Screen once again.
Has it changed?

In [34]:
screen_median = df['Screen'].median()
screen_mode = df['Screen'].mode()[0]
print(f'Screen median: {screen_median}')
print(f'Screen mode: {screen_mode}')

Screen median: 15.6
Screen mode: 15.6

In [38]:
df['Screen'] = df['Screen'].fillna(screen_mode)
screen_new_median = df['Screen'].median()
print(f'Screen median: {screen_new_median}')
print(f'Changed: {screen_median != screen_new_median}')

Screen median: 15.6
Changed: False

#### Q7. Sum of weights
Select all the "Innjoo" laptops from the dataset.

Select only columns RAM, Storage, Screen.

Get the underlying NumPy array. Let's call it X.

Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.

Compute the inverse of XTX.

Create an array y with values [1100, 1300, 800, 900, 1000, 1100].

Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.

What's the sum of all the elements of the result?

In [36]:
innjoo_laptops = df[df['Brand'] == 'Innjoo']
innjoo_laptops.head(10)

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
1478,InnJoo Voom Excellence Intel Celeron N4020/8GB...,New,Innjoo,Voom,Intel Celeron,8,256,SSD,NaN,15.6,No,311.37
1479,InnJoo Voom Excellence Pro Intel Celeron N4020...,New,Innjoo,Voom,Intel Celeron,8,512,SSD,NaN,15.6,No,392.55
1480,Innjoo Voom Intel Celeron N3350/4GB/64GB eMMC/...,New,Innjoo,Voom,Intel Celeron,4,64,eMMC,NaN,14.1,No,251.40
1481,Innjoo Voom Laptop Max Intel Celeron N3350/6GB...,New,Innjoo,Voom,Intel Celeron,6,64,eMMC,NaN,14.1,No,383.61
1482,Innjoo Voom Laptop Pro Intel Celeron N3350/6GB...,New,Innjoo,Voom,Intel Celeron,6,128,SSD,NaN,14.1,No,317.02
1483,Innjoo Voom Pro Intel Celeron N3350/6GB/128GB ...,New,Innjoo,Voom,Intel Celeron,6,128,eMMC,NaN,14.1,No,431.38

In [37]:
# columns RAM, Storage, Screen
innjoo_ram_storage_screen = innjoo_laptops[['RAM', 'Storage', 'Screen']]

# numpy array
X = innjoo_ram_storage_screen.to_numpy()

XTX = np.matmul(X.T, X)

inverse_XTX = np.linalg.inv(XTX)

y = np.array([1100, 1300, 800, 900, 1000, 1100])

w = np.matmul(np.matmul(inverse_XTX, X.T), y)

print(w.sum())

91.29988062995588